.footer{
    padding: 2rem 0;
    font-weight: 400;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 48rem;
}

.footerLine{
    border-color: #d1d5db33;
    width: 100%;
    margin: 1rem 0;
}

.content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.icons{
    display: flex;
    gap: 1rem;
}