.footer{
    padding: 2rem 0;
    background-color: transparent;
    font-weight: 400;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 48rem;
}

.content{
    width: 100%;
    max-width: 70em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.icons{
    display: flex;
    gap: 1rem;
}