.body{
    border: none;
    margin: 0;
    padding: 0;
    background-color: #2A2271;
    color: #FFFFFF;
    text-shadow: 0.05em 0.05em 0 rgba(0,0,0,0.3);
    font-weight: 300;
    font-family: 'Nunito', sans-serif;
    line-height: 1.55;
    overflow-x: hidden;
}

.a{
    color:#FFFFFF;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
}

.clickOverlay{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(0,0,0,0);
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    z-index: 99;
    opacity: 0;
}

.header {
    background-color: #FFEEEE;
    background: linear-gradient(45deg, #FFDFFFCF 0%, #FFFFFFCF 100%);
    box-shadow: 0 0 1em rgba(0,0,0,0.3);
    backdrop-filter: blur(0.5em);
    text-shadow: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 4em;
    text-align: right;
    z-index: 999;
    user-select: none;
}

.header a{
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 4em;
    display: inline-block;
    text-align: center;
    color: black;
    padding-right: 1em;
    padding-left: 1em;
    font-family: 'Titillium', sans-serif;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

.header a:hover{
    background-color: rgba(0, 5, 20, 0.3);
}

.title{
    font-size: 1.95em;
    line-height: 2em;
    font-family: 'Titillium', sans-serif;
    color: #000000;
    opacity: 0.77;
    width: auto;
    margin-right: 2em;
    float: left;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.01em;
    margin-left: 0.5em;
}

.block{
    width: 100%;
    display: block;
    clear: both;
    position: relative;
}

.clear{
    clear: both;
    margin: 0;
    padding: 0;
    border: none;
    height: 0;
    overflow: hidden;
}

.content{
    width: 100%;
    max-width: 70em;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    position: relative;
}

.fragment{
    position: absolute;
    margin-top: 4em;
    width: 100%;
    transform-origin: 50vw 50vh;
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0) 100%
      );
}

.introduction{
    top: 0;
    left: 0;
    width: 60%;
    height: auto;
    padding: 1em;
    box-sizing: border-box;
}

.links{
    margin-top: 1.5em;
    margin-bottom: 1em;
    text-align: center;
    padding: 0.2em 0;
}

.links a{
    margin-right: 0.3em;
    display: inline-block;
    font-size: 1.23em;
    font-family: 'Titillium';
}

.links a:hover{
    text-shadow: 0 0 0.4em #FFFFFF;
}

.photoArea, .introduction{
    position: relative;
}

.photoArea{
    object-fit: cover;
    top: 0;
    right: 0;
    width: 40%;
}

.innerGradient{
    height: 100%;
    min-height: 40em;
    position: relative;
    display: flex;
    align-items: stretch;
    border: none;
    margin: 0;
}

.outerGradient{
    backdrop-filter: blur(1rem);
    padding: 1.6em 0 10em 0;
    display: block;
    margin: 0;
    border: none;
}

.page {
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}


.opener{
    font-family: 'Titillium',sans-serif;
    font-size: 5.1em;
    margin: 0.15em 0 1.2em 0;
    font-weight: 700;
    line-height: 0.82em;
    text-shadow: 0.02em 0.02em 0.07em rgba(0,0,0,0.3);
}

img.photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    height: auto;
    border: 0.2em solid #FFFFFF;
}

.projectlist{
    width: 100%;
    text-align: center;
}

.projectEntry{
    height: 22em;
    position: relative;
    overflow: hidden;
}

.projectlist, .stripe{
    display: inline-block;
    margin: 0 0.3em;
    padding: 0.4em 0;
}

.stripe{
    display: block;
    width: 100%;
    clear: both;
    position: relative;
}

.details{
    text-align: left;
    z-index: 2;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 1.5em;
    max-height: 20em;
    background-color: rgba(0,0,0,0.6);
    overflow: hidden;
}

.description{
    display: block;
    width: 100%;
}

span.date{
    margin-left: 1em;
    float: right;
    color: #AAAAAA;
}

.projectEntry:hover .background{
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
}

.background{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #404040;
    background-size: cover;
    background-position: center center;
}

.h1{
    font-size: 2.5em;
}

.projectEntry .details .h2{
    margin: 0 0 0.2em 0;
    font-size: 1.7em;
}

.h2{
    font-size: 2.1em;
}

.h2 a{
    text-decoration: none;
}

.h4{
    margin-top: 1em;
    font-size: 1.7em;
}

.h1, .h2, .h3, .h4{
    font-family: 'Titillium', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    margin: 1.7em 0 0.5em 0;
    line-height: 1em;
    text-transform: uppercase;
}

.p{
    text-align: justify;
    margin: 0.8em 0;
    padding: 0;
    clear: both;
}

.span.bold{
    font-weight: 600;
}