.root{
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}

.wrapper{
    width: 100%;
    height: 100%;
    background-color: #181922;
    z-index: -2;
    position: fixed;
}

.page {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    display: flex;
}

.content{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 48rem;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    padding: 2.5rem;
}

@media (min-width: 640px){
    .content{
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

@media (min-width: 1024px){
    .content{
        padding-bottom: 10rem;
    }
}

.intro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    color: #FFFFFF;
}

.intro h2{
    font-size: 3rem;
    line-height: 1;
}

.intro h3{
    color: rgb(156 163 175);
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 1rem;
}

.location{
    padding: .75rem 0;
    display: flex;
    align-items: center;
}

.location p{
    margin-left: 0.5rem;
    display: inline-block;
    font-weight: 100;
    color: rgb(156 163 175);
}

.links{
    padding-top: 1rem;
    display: flex;
    align-items: center;
}

.links button{
    display: flex;
    height: 1.75rem;
    width: 8rem;
    cursor: pointer;
    border: #FFFFFF 1px solid;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.links button span{
    margin-left: 0.5rem;
}

.links a{
    margin-left: 0.75rem;
}

.clickOverlay{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(0,0,0,0);
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    z-index: 99;
    opacity: 0;
}

.title{
    font-size: 1.95em;
    line-height: 2em;
    font-family: 'Titillium', sans-serif;
    color: #000000;
    opacity: 0.77;
    width: auto;
    margin-right: 2em;
    float: left;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.01em;
    margin-left: 0.5em;
}

.photoArea, .introduction{
    position: relative;
}

.photoArea{
    object-fit: cover;
    top: 0;
    right: 0;
    width: 40%;
}

.innerGradient{
    height: 100%;
    min-height: 40em;
    position: relative;
    display: flex;
    align-items: stretch;
    border: none;
    margin: 0;
}

.outerGradient{
    backdrop-filter: blur(1rem);
    padding: 1.6em 0 10em 0;
    display: block;
    margin: 0;
    border: none;
}

.opener{
    font-family: 'Titillium',sans-serif;
    font-size: 5.1em;
    margin: 0.15em 0 1.2em 0;
    font-weight: 700;
    line-height: 0.82em;
    text-shadow: 0.02em 0.02em 0.07em rgba(0,0,0,0.3);
}

img.photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    height: auto;
    border: 0.2em solid #FFFFFF;
}

.projectlist{
    width: 100%;
    text-align: center;
}

.projectEntry{
    height: 22em;
    position: relative;
    overflow: hidden;
}

.projectlist, .stripe{
    display: inline-block;
    margin: 0 0.3em;
    padding: 0.4em 0;
}

.stripe{
    display: block;
    width: 100%;
    clear: both;
    position: relative;
}

.details{
    text-align: left;
    z-index: 2;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 1.5em;
    max-height: 20em;
    background-color: rgba(0,0,0,0.6);
    overflow: hidden;
}

.description{
    display: block;
    width: 100%;
}

span.date{
    margin-left: 1em;
    float: right;
    color: #AAAAAA;
}

.projectEntry:hover .background{
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
}

.background{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #404040;
    background-size: cover;
    background-position: center center;
}

.h1{
    font-size: 2.5em;
}

.projectEntry .details .h2{
    margin: 0 0 0.2em 0;
    font-size: 1.7em;
}

.h2{
    font-size: 2.1em;
}

.h2 a{
    text-decoration: none;
}

.h4{
    margin-top: 1em;
    font-size: 1.7em;
}

.h1, .h2, .h3, .h4{
    font-family: 'Titillium', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    margin: 1.7em 0 0.5em 0;
    line-height: 1em;
    text-transform: uppercase;
}

.p{
    text-align: justify;
    margin: 0.8em 0;
    padding: 0;
    clear: both;
}

.span.bold{
    font-weight: 600;
}